*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body
{
  height: 100%;
}
.header
{
  grid-row: 1/2;
  grid-column: 1/3;
}

.title
{
  position: absolute;
  left: 18px;
  height: fit-content;
}

.title p
{
  font-family: 'Vidaloka', serif;
  font-weight:normal;
  color:#444;
  display:block;
  font-size:32px;
  line-height:48px;
  letter-spacing:-2px;
  text-shadow:3px 3px 6px #888;
}

.tab_bar
{
  background-color: white;
}

.tab_panel
{
  grid-row: 2/3;
  grid-column: 1/3;
  width: 100%;
}

.selectbox
{
  display: inline-flex;
  align-items: center;
  position: relative;
}

.selectbox::after
{
  position: absolute;
  right: 15px;
  width: 10px;
  height: 7px;
  background-color: #535353;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
  pointer-events: none;
}

.selectbox select
{
  appearance: none;
  min-width: 160px;
  height: 2.8em;
  padding: .4em calc(.8em + 30px) .4em .8em;
  border: none;
  border-bottom: 2px solid #cccccc;
  background-color: #fff;
  color: #333333;
  font-size: 1em;
  cursor: pointer;
}

.selectbox select:focus
{
  outline: none;
}

.not-selected-tab
{
  opacity: 0.5;
}


.toggle_button
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	background: #aaa;
	color: #fff;
	border-radius:50%;
	font-size: 1.0rem;
	cursor: pointer;
}
.toggle_button:before
{
	content: '切替';
}
.toggle_button_check_box
{
	display: none;
}
/*以下を追記*/
.toggle_button_check_box:checked+.toggle_button
{
	background: #1ad33a;
}
.toggle_button_check_box:checked+.toggle_button:before
{
	content: '切替';
}